body{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 12px;
   
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-right{
    display: flex;
    align-items: center;
}
#header-right img{
    width: 50px;
    height: 48px;
    border-radius: 50%;
}
#dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
}
.card-lamp,.card-music,.card-temp,.card-security{
    border: solid 1px black;
    border-radius: 10px;
    padding: 12px;
    margin-right: 15px;

    transition: 0.4s;
}
.card-lamp:hover,.card-music:hover,.card-temp:hover,.card-security:hover{
    transform: translateY(-10px);
    border: solid 2px rgb(128, 13, 0);
}
div>img{
    width: 50px;
    height: 60px;
}

#side-bar{
    border: solid 1px black;
    padding: 30px 15px;
}

#smart-home img{
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
}

#smart-home{
    display: flex;
    align-items: center;
}
/*@@@@@@@@@@@@.   Music   @@@@@@@@@@@@@@@@*/
#music{
    display: flex;
    align-items: center;
    border: solid 1px gray;
    border-radius: 8px;
    background: rgb(254, 75, 112);
    transition: 0.3s;
}

#music img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 50%;
    border: solid 1px black;
}
.rotate{
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#music h5{
    padding-left: 12px;
    color: white;
}
.btn:hover{
    transform: translateY(-3px);
}
.btn{
    border: none;
    padding: 2px 3px;
    border-radius: 59%;
    background: #0086af;
    color: white;
    cursor: pointer;
    width: 34px;
    height: 32px;
    margin: 8px 0px 2px 25px;
}
/*@@@@@@@@@@@@.   Security   @@@@@@@@@@@@@@@@*/

.close img{
    width: 36px;
    height: 40px;
}
.open img{
    width: 54px;
    height: 52px;
}


@keyframes glow {
    0%{
        box-shadow: 0 0 5px yellow;
    }
    50%{
        box-shadow: 0 0 25px yellow;
    }
    100%{
        box-shadow: 0 0 5px yellow;
    }
    
}
.lamp_on{
    animation: glow 1s infinite;
}