body{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 12px;
   
}
/*@@@@@@@@@@@@.   header    @@@@@@@@@@@@@@@@*/

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-right{
    display: flex;
    align-items: center;
}
#header-right img{
    width: 50px;
    height: 48px;
    border-radius: 50%;
}

/*@@@@@@@@@@@@.   menu   @@@@@@@@@@@@@@@@*/

#menu ul{
    padding: 0px;
    margin:0px;
    transition: 0.4s;

}
#menu li{
    margin: 15px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
    transition: 0.3s;

}
#menu a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    gap: 10px;

}
#menu a:hover{
    transform: translateX(5px);
    color: green;
}

#menu h5{
    width: fit-content;
    transition: 0.4s;
}
#menu:hover h5{
    color: gray;
    border-bottom: dashed 1px green;
    transform: translateX(4px);
}

/*@@@@@@@@@@@@.  Mode    @@@@@@@@@@@@@@@@*/

#mode button{
    display: flex;
    align-items: center;
    gap: 12px;

}
.sombre{
    display: flex;
    align-items: center;
    gap: 12px;
    color: green;
    border: solid 1px green;
    
}
.claire{
    display: flex;
    align-items: center;
    gap: 12px;
    color: black;
}


/*@@@@@@@@@@@@.  id dashboard    @@@@@@@@@@@@@@@@*/

#dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap: 15px;
}
.card-lamp,.card-music,.card-temp,.card-security,#graphe,#scenario,#camera{
    border: solid 1px black;
    border-radius: 10px;
    padding: 12px;
    transition: 0.4s;
}
.card-lamp:hover,.card-music:hover,.card-temp:hover,.card-security:hover,#graphe:hover,#scenario:hover,#camera:hover{
    transform: translateY(-10px);
    border: solid 2px rgb(128, 13, 0);
}
div>img{
    width: 50px;
    height: 60px;
}
/*@@@@@@@@@@@@.   id setting   @@@@@@@@@@@@@@@@*/

#setting{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
    gap: 15px;
}

#setting div{
    border: solid 1px black;
    border-radius: 10px;
    padding: 12px;
    margin-top: 10px;
}
/*@@@@@@@@@@@@.  Consommaion énergitique    @@@@@@@@@@@@@@@@*/

.energie-photo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#graphe>img{
    width: 100%;
    height: auto;
}

/*@@@@@@@@@@@@.  Camera en directe    @@@@@@@@@@@@@@@@*/


#pictures{
    display: flex;
    flex-direction: row;
    gap: 4px;
}
#pictures img{
    width: 100%;
    height: auto;
    
}

/*@@@@@@@@@@@@.  Scénarios    @@@@@@@@@@@@@@@@*/
#scenario{
    display: flex;
    flex-direction: column;
}


#scenario li{
    list-style: none;
    border: solid 0.5px black;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 8px;
    width: 50%;
    transition: 0.4s;
}
#scenario li:hover{
    transform: translateX(4px);
    background-color: #b4d9e4;
}
#scenario h4{
    margin-bottom: 0px;
}

#cinema li,#ai li{
    padding: 0px;
    margin : 0px;
    border-radius: 50%;
    display: inline;
}
#cinema a,#ai a{
    padding: 0px;
    margin : 0px;
    text-decoration: none;
}
#cinema img,#ai img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#cinema, #ai{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.cinema-menu:hover #cinema{
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

.ai-menu:hover #ai{
    opacity: 1;
    visibility: visible;
    transform: translateY(-13px);
}


/*@@@@@@@@@@@@.   aside    @@@@@@@@@@@@@@@@*/
#side-bar{
    padding: 0px 15px;
}
/*@@@@@@@@@@@@.   Smarthome logo   @@@@@@@@@@@@@@@@*/
#smart-home img{
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
}

#smart-home{
    display: flex;
    align-items: center;
}

/*@@@@@@@@@@@@.   Lamp   @@@@@@@@@@@@@@@@*/

.lamp{
    font-size: 45px;
    color: rgb(37, 35, 35);
    transition: 0.3s;
}

/*@@@@@@@@@@@@.   Music   @@@@@@@@@@@@@@@@*/
#music{
    display: flex;
    align-items: center;
    border: solid 1px gray;
    border-radius: 8px;
    background: rgb(254, 75, 112);
    transition: 0.3s;
}

#music img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    transition: 0.7s;
    border-radius: 50%;
    border: solid 1px black;
}
.rotate{
    animation: spin 2s linear infinite;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#music h5{
    padding-left: 12px;
    color: white;
}
.btn:hover{
    transform: translateY(-3px);
}
.btn{
    border: none;
    padding: 2px 3px;
    border-radius: 59%;
    background: #0086af;
    color: white;
    cursor: pointer;
    width: 34px;
    height: 32px;
    margin: 8px 0px 2px 25px;
}
/*@@@@@@@@@@@@.   Security   @@@@@@@@@@@@@@@@*/

.close img{
    width: 36px;
    height: 40px;
}
.open img{
    width: 54px;
    height: 52px;
}
